[data-theme="dark"] {
  --color-bg: #111827;
  --color-text: #f9fafb;
  --color-primary: #8b5cf6;

  --color-bg-rgb: 17, 24, 39;
  --color-text-rgb: 249, 250, 251;
  --color-primary-rgb: 139, 92, 246;

  --bs-body-bg: var(--color-bg);
  --bs-body-color: var(--color-text);
  --bs-primary: var(--color-primary);

  --bs-body-color-rgb: var(--color-text-rgb);
  --bs-tertiary-bg-rgb: var(--color-bg-rgb);

  --bs-navbar-color: var(--color-text);
  --bs-navbar-brand-color: var(--color-text);
  --bs-navbar-brand-hover-color: var(--color-text);
}
