# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias de Node.js
node_modules/
**/node_modules/

# Carpetas de compilación o producción
frontend/build/
backend/dist/

# Configs de editores
.vscode/
.idea/

/backend/uploads/**
!/backend/uploads/avatars/.gitkeep

# Coverage directory
coverage/